h1{
    margin: 15px 10px 74px 10px;
    font: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
article{
    margin: 0 auto;
    text-align: center;
}
.enter_button{
    color: aliceblue;
    background-color: rgba(18, 83, 140, 1);
    width: 160px;
    height: 41px;
    border-radius: 17px;
}

.authorization input{
    margin: 30px;
    text-align: left;
    width: 245px;
    height: 52px;
    border-radius: 17px;
            
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal;
            
}

input,
input::placeholder {
    font: 14px sans-serif;
}

.button-link {
display: inline-block;
padding: 10px 20px;
background-color: #4CAF50;
color: white;
text-decoration: none;
border-radius: 17px;
font-family: Arial, sans-serif;
font-size: 16px;
}