<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Авторизация</title>
        <link rel="stylesheet" href="../css/main.css" />

        <script src="../js/auth.js" defer></script>
    </head>
    <body>
        <article class="authorization">
            <img src="../images/logo.png" alt="logo" width="200" />
            <h1>Авторизация</h1>

            <form id="loginForm">
                <input
                    type="text"
                    id="login"
                    name="login"
                    placeholder="Логин:"
                    required
                />
                <br />
                <input
                    type="phone_number"
                    id="phone_number"
                    name="phone_number"
                    placeholder="Номер телефона:"
                    required
                />
                <br />

                <br />
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Пароль:"
                    required
                />
                <br />
                <input
                    type="password_check"
                    id="password_check"
                    name="password_check"
                    placeholder="Повторите пароль:"
                    required
                />

                <button type="submit" class="enter_button">
                    Создать аккаунт
                </button>
            </form>

            <div id="error" class="error-message"></div>
            <div id="success" class="success-message"></div>
        </article>
    </body>
</html>
